.header {
  color: #fff;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

/* Hide scrollbar for Chrome , Safari and Opera */
.header::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE , Edge and Firefox */
.header {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon {
  display: flex;
  flex-direction: column;
  width: 100px;
  /* align-items: center; */
  cursor: pointer;
}

.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}

.header__icon:hover > p {
  display: inline-flex;
}

.header__icon--active > p {
  display: inline-flex !important;
}

.header__icon > .MuiSvgIcon-root {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header > img {
  object-fit: contain;
  height: 80px;
}
